<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.mpak.orshankanews">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:configChanges="orientation|keyboardHidden"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <activity android:name="com.studio.mpak.orshankanews.Splash"
            android:theme="@style/AppFullScreenTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.studio.mpak.orshankanews.MainActivity"
            android:theme="@style/AppFullScreenTheme"
            />
        <activity android:name="com.studio.mpak.orshankanews.WebViewActivity"/>
        <activity
            android:name="com.studio.mpak.orshankanews.SettingsActivity"
            android:label="@string/settings_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studio.mpak.orshankanews.MainActivity"/>
        </activity>
        <activity
            android:name="com.studio.mpak.orshankanews.AnnouncementActivity"
            android:label="@string/announcement_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studio.mpak.orshankanews.MainActivity"/>
        </activity>
        <activity
            android:name="com.studio.mpak.orshankanews.VacancyActivity"
            android:label="@string/vacancy_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studio.mpak.orshankanews.MainActivity"/>
        </activity>
        <!--<provider-->
            <!--android:name=".data.ArticleProvider"-->
            <!--android:authorities="com.studio.mpak.orshankanews"-->
            <!--android:exported="false"-->
            <!--/>-->
    </application>


</manifest>
